<title>Reduce like Funtion</title>

<h1>Reduce like Function</h1>

In [14]:
def MyFunction(fun, sequence, initializer = None):
    
    result = 0
    S = iter(sequence)
    
    
    if initializer == None:
        result = next(S)
    else:
        result = initializer
        
   
    for i in S:
        result = fun(result,i)
        
   
    return result

In [18]:
MyFunction(lambda x,y:x-y,[5,4,2,7,8,9])

-25

In [21]:
MyFunction(lambda a,b:a*b,[2,3,4])

24

In [22]:
MyFunction(lambda x,y:x+y,['Machine ','Learning ','and ','Deep ','Learning '])

'Machine Learning and Deep Learning '

<h1>Filter Like Function</h1>

In [46]:
def MyFunction(fun, seq):
    result = []
    for i in seq:
        first = fun(i)
        if first != True and first != False:
            result.append(i)
            
        else:
            if first == True:
                result.append(i)
    return result

In [47]:
MyFunction(lambda x:x<2,[0.1,4,2,11,5,7,2,1,1.1])

[0.1, 1, 1.1]

In [48]:
j = MyFunction(lambda x:x+2,[0.1,4,2,11,5,7,2,1,1.1])
j

[0.1, 4, 2, 11, 5, 7, 2, 1, 1.1]

<h1>List Comphrehension</h1>

In [52]:
result = [a*i for a in 'xyz' for i in range(1,5)]
result

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [53]:
result1 = [i*a for a in range(1,5) for i in 'xyz']
result1

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [55]:
result2 = [[i+j] for i in range(2,5) for j in range(3)]
result2

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [76]:
lis = [2,3,4,5,6,7,8,9]
result3 = [[lis[j] for j in range(i,i+4)]for i in range(len(lis)) if i+4<len(lis)]
result3

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [78]:
l1 = [1,2,3]
l2 = [1,2,3]
result4 = [(a,b) for b in l1 for a in l2]
result4

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]